.logo {
    font-size: 1.8em;
    font-family: cursive;
    margin-left: 30px;
    font-weight: 600;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    left: 0;
    border-right: 1px solid #ccc;
    height: 100vh;
    // width: 17.5vw;
    z-index: 0;
}

.nav-list {
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 7px;
}

.nav-link {

    display: flex;
    margin: 7px 0;
    font-size: 1rem;
    align-items: center;
    text-decoration: none;
    color: inherit;
    padding: 10px;
    padding-inline-start: 1.2rem;
    transition: background-color 0.3s ease;

    i {
        font-size: 1.4rem;
        margin-right: 1em;
    }

    &:hover {
        // background-color: #e6e6e6;
        background-color: $clr-hover-primary;

    }
}

.userDetails {
    flex-grow: 1;
}

.plus {
    margin-bottom: 10px;
}

.nav-img {
    width: 1.5rem;
    height: 1.5rem;
    margin-inline-end: 1em;
}

.insta-icon {
    display: none;
}