.logo {
    font-size: 1.8em;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-family: 'Billabong', cursive;
    margin: .5em;
    margin-top: 35px;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    border-right: 1px solid #ccc;
    height: 100vh;
}

.nav-list {
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 7px;
}

.nav-link {

    display: flex;
    margin: 7px 0;
    font-size: 1rem;
    align-items: center;
    text-decoration: none;
    color: inherit;
    padding: 10px;
    transition: background-color 0.3s ease;

    i {
        font-size: 1.4rem;
        margin-right: 1em;
    }

    &:hover {
        // background-color: #e6e6e6;
        background-color: $clr-hover-primary;
    }
}

.userDetails {
    flex-grow: 1;
}

.plus {
    margin-bottom: 10px;
}