
.edit-post-container {
    display: grid;
    grid-template-columns: 61% 39%;
    grid-template-rows: 100%;
    width: 100%;
    height: calc(100% - 42px);
}

.update-modal {
    width: 1021px;
    height: 616px;
}