.home-container {
    display: flex;
    flex-direction: column;

}

.post-list {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post-header {
    margin-bottom: 10px;
    gap: .8em;
    display: flex;

    & img {
        width: 42px;
        height: 42px;
    }
}

.post-time {
    color: $clr-txt-sec;
    flex-grow: 1;

}

.fa-ellipsis {
    font-size: 1.1em;
}


.post-preview {
    // width:468px;
    width: 470px;
    border-bottom: .01px solid #c2c2c2;


    &.btn-container {
        position: relative;
        gap: 13px;


    }

}

.post-img {
    height: 525px;
    width: 100%;
    border-radius: 3px;
}


.btn-container {
    display: flex;
    font-size: 1.5em;
    gap: 20px;
}

.btn-container i {
    cursor: pointer;
}

.btn-container i:hover:not(.like) {
    color: lightgray;
    /* Tous les boutons sauf Like */
}

.like:hover {
    color: red;
    /* Le bouton Like */
}

.share-post-btn {
    flex-grow: 1;
}

.save-btn {
    margin-right: 5px;
}

.post-footer {
    margin-bottom: 0px;
    gap: rem(7px);
    width: 100%;

}

.story-txt {
    margin-inline-start: rem(4px);
    overflow-wrap: break-word;
}

.modal-post-time {
    color: $clr-txt-sec;
    flex-grow: 1;
}