* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
    cursor: pointer;
}

textarea {
    all: unset;
    overflow-wrap: break-word;
}

.modal-content {
    max-width: 70.5vw;
    max-height: calc(100vh - 50px);
    background-color: #fff;
   
    overflow: auto;
    z-index: 1001;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

i {
    cursor: pointer;
}

.user-avatar {
    border-radius: 50%;
}

.clr-gray {
    color: $clr-txt-sec;
}