.main-layout {
    display: grid;
    grid-template-columns: 220px 1fr;
    height: 100vh;
    overflow: auto;
    // margin-left: 41vw; 
}

main {
    justify-self: center;
}

@media all and (max-width: 620px) {

    .main-layout {
        display: block;
    }

    .nav-bar {
        display: flex;
        flex-direction: row !important;
        justify-content: space-around;
        position: fixed !important;
        bottom: 0;
        left: 0;
        top: auto !important;
        width: 100%;
        z-index: 1111;
        background-color: #fff;
        height: auto !important;
    }


    .nav-list {
        flex-direction: row !important;
    }
}

@media all and (max-width: 750px) {

    .main-layout {
        grid-template-columns: 75px 1fr;
    }

    .nav-name {
        display: none;
    }

    .vista-logo {
        display: none;
    }

    .insta-icon {
        display: inline !important;
        padding-inline-start: 1.5rem;
        padding-block-start: 2.1rem;
        margin-bottom: 1em;
    }

    .post-list {
        align-items: center;
    }

   
}