.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 16px;
}

.profile-info {
    display: flex;

    align-items: center;
    gap: 70px;
    margin-top: 15px;
}

img.user-profile-avatar {
    border-radius: 50%;
    height: 150px;
    width: 150px;


}

.user-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 30px;

}

.user-profile-btns {
    display: flex;
    gap: 30px;
    justify-content: center;
    height: auto;
    margin-bottom: 0px;
    place-items: center;
    place-content: center;
    font-size: 14px;
    font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;


}

.userprofile-fullName {
    font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: black;
    font-size: 16px;
}


.follow-btn,
.message-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.user-stats {
    display: flex;
    gap: 40px;

}






.user-posts-detail {
    display: flex;
    gap: 80px;
    margin-top: 190px;
    border-top: 2px solid lightgray;
    width: 941px;
    place-content: center;
    margin-left: 5vw;

}



.user-posts-detail>div {
    padding: 10px;
}


.user-posts-detail>div.active {
    border-top: .125em solid black;
    cursor: pointer;


}