//Colors
$clr-txt-primary: #000000;
$clr-like-btn: #ff3040;
$clr-delete-btn: #ed4956;
$clr-hover-primary: rgba(0, 55, 107, 0.05);
$clr-txt-sec: #737373;
$clr-overlay: #8e8e8e;
$clr-btn1: #0095f6;
$clr-sep-line: #dadde1

